body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  text-align: center;
}
.cartao-pokemon {
  display: inline-block;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  width: 250px;
  vertical-align: top;
}
.cartao-pokemon img {
  width: 100px;
}
.nome-pokemon {
  font-size: 20px;
  font-weight: 600;
  margin-top: 10px;
  text-transform: uppercase;
}
.info-pokemon {
  text-align: left;
  margin-top: 10px;
}
.info-pokemon p {
  margin: 5px 0;
}
.botoes {
  margin-top: 20px;
}
button {
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  cursor: pointer;
}
